<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoqJzKoEfE6gICb1Q3ycDutN92vPI9ey4</string>
	<key>GCM_SENDER_ID</key>
	<string>1034974394954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courtify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reservation-system-961</string>
	<key>STORAGE_BUCKET</key>
	<string>reservation-system-961.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034974394954:ios:9dd3709c82e7adc31904b3</string>
	<key>DATABASE_URL</key>
	<string>https://reservation-system-961-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>